* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 1.875rem;
}

.form-container {
  width: 18.75rem;
  margin: 0 auto;
  padding: 1.25rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.375rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.375rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.1875rem;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 0.625rem;
  background-color: #472dbb;
  color: #fff;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #3e2397;
}

p {
  margin-top: 1rem;
}
